<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ENSAKConnect"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.Profile.ModifyProfileExperience"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".view.Profile.ModifyProfileEducation"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.notifications.NotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.ENSAKConnect.NoActionBar" />
        <activity
            android:name=".view.chat.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.ENSAKConnect.NoActionBar" />
        <activity
            android:name=".view.Profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/ProfileActivityTheme" />
        <activity
            android:name=".view.conversations.ConversationsActivity"
            android:exported="false"
            android:theme="@style/Theme.ENSAKConnect.NoActionBar" />
        <activity
            android:name=".view.ResetPassword.CodeValidationScreen"
            android:exported="false" />
        <activity
            android:name=".view.ResetPassword.EmailRecuperation"
            android:exported="false" />
        <activity
            android:name=".view.ResetPassword.ResetPasswordScreen"
            android:exported="false" />
        <activity
            android:name=".view.comments.CommentsActivity"
            android:exported="false"
            android:theme="@style/Theme.ENSAKConnect.NoActionBar" />
        <activity
            android:name=".view.Registration.RegistrationScreen"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.create_question_screen.CreateQuestionActivity"
            android:exported="false"
            android:theme="@style/Theme.ENSAKConnect.NoActionBar" />
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.ENSAKConnect.NoActionBar" />
        <activity
            android:name=".view.LoadingScreen.LoadingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ENSAKConnect.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>